@model API.Features.Invoicing.Printer.InvoicingPrinterVM

<head>

    <link href="http://fonts.cdnfonts.com/css/canter-bold" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/pf-handbook-pro" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/ubuntu-condensed-2" rel="stylesheet">

    <style>
        #header {
            align-items: center;
            display: flex;
        }

        #image {
            height: 105px;
            width: 105px;
        }

        #logo-and-title {
            align-items: center;
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
        }

        #logo-text {
            font-family: "Canter Bold";
            font-size: 36px;
        }

        #title {
            font-family: "Ubuntu Condensed";
            font-size: 18px;
            font-weight: 100;
        }

        #criteria {
            display: flex;
            font-family: "Ubuntu Condensed";
            margin-left: auto;
        }

        .ports {
            display: flex;
            flex-direction: column;
        }

    </style>

</head>

<body>

    <div>
        @Model.Date
        @Model.Customer.Description
    </div>

    <div class="ports">
        @foreach (var port in Model.PortGroup) {
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Adults</th>
                        <th>Kids</th>
                        <th>Free</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < port.HasTransferGroup.Count(); i++) {
                        <tr>
                            @if (i == 0) {
                                <td rowspan="2" align="center">
                                    @port.Port
                                </td>
                            }
                            <td>@port.HasTransferGroup.ElementAt(i).Adults</td>
                            <td>@port.HasTransferGroup.ElementAt(i).Kids</td>
                            <td>@port.HasTransferGroup.ElementAt(i).Free</td>
                            <td>@port.HasTransferGroup.ElementAt(i).TotalPersons</td>
                            @if (port.HasTransferGroup.ElementAt(i).HasTransfer) { <td>w/ Transfer</td> }
                            @if (!port.HasTransferGroup.ElementAt(i).HasTransfer) { <td>w/o Transfer</td> }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>@port.Adults</td>
                        <td>@port.Kids</td>
                        <td>@port.Free</td>
                        <td>@port.TotalPersons</td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>

    <div class="reservations">
        <table>
            <thead>
                <th>Destination</th>
                <th>Ticket</th>
                <th>Ship</th>
                <th>Adults</th>
                <th>Kids</th>
                <th>Free</th>
                <th>Total</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                @foreach (var reservation in Model.Reservations) {
                    <tr>
                        <td>@reservation.Destination</td>
                        <td>@reservation.TicketNo</td>
                        <td>@reservation.Ship</td>
                        <td>@reservation.Adults</td>
                        <td>@reservation.Kids</td>
                        <td>@reservation.Free</td>
                        <td>@reservation.TotalPersons</td>
                        <td>@reservation.Remarks</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
